<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>uploadPath</param-name>
        <param-value>E:/Documents/UploadedFiles/</param-value>
    </context-param>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.controller.UP_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>com.controller.SI_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.controller.Reg_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrl</servlet-name>
        <servlet-class>com.controller.CTRL_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/Register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>profil</servlet-name>
        <jsp-file>/Profil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Administration</servlet-name>
        <jsp-file>/Administration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <jsp-file>/Notifications.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Statistiques</servlet-name>
        <jsp-file>/Statistiques.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Etablissement</servlet-name>
        <jsp-file>/Etablissement.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Publication</servlet-name>
        <jsp-file>/Publication.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrl</servlet-name>
        <url-pattern>/ctrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profil</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administration</servlet-name>
        <url-pattern>/Administration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistiques</servlet-name>
        <url-pattern>/Statistiques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etablissement</servlet-name>
        <url-pattern>/Etablissement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publication</servlet-name>
        <url-pattern>/Publication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
        <cookie-config>
            <max-age>31536000</max-age>
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Tous les utilisateurs</display-name>
        <web-resource-collection>
            <web-resource-name>Tous les utilisateurs</web-resource-name>
            <description/>
            <url-pattern>/profil</url-pattern>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/navigation.jsp</url-pattern>
            <url-pattern>/Notifications</url-pattern>
            <url-pattern>/Statistiques</url-pattern>
            <url-pattern>/Publication</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Tous les utilisateurs (servlet)</web-resource-name>
            <description/>
            <url-pattern>/ctrl</url-pattern>
            <url-pattern>/files/*</url-pattern>
            <url-pattern>/upload</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrateur</role-name>
            <role-name>Utilisateur</role-name>
            <role-name>Sous administrateur</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Bloqué</display-name>
        <web-resource-collection>
            <web-resource-name>jsp pages</web-resource-name>
            <description/>
            <url-pattern>/Signin.jsp</url-pattern>
            <url-pattern>/Register.jsp</url-pattern>
            <url-pattern>/Profil.jsp</url-pattern>
            <url-pattern>/Administration.jsp</url-pattern>
            <url-pattern>/Notifications.jsp</url-pattern>
            <url-pattern>/Statistiques.jsp</url-pattern>
            <url-pattern>/Etablissement.jsp</url-pattern>
            <url-pattern>/Publication.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Administrateur</display-name>
        <web-resource-collection>
            <web-resource-name>Administration</web-resource-name>
            <description/>
            <url-pattern>/Administration</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrateur</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Sous administrateur</display-name>
        <web-resource-collection>
            <web-resource-name>Etablissement</web-resource-name>
            <description/>
            <url-pattern>/Etablissement</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Sous administrateur</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Signin.jsp</form-login-page>
            <form-error-page>/Register.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Administrateur</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Sous administrateur</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Utilisateur</role-name>
    </security-role>
</web-app>
