html { overflow-x: hidden; }

body{ font-size: small; }

p{ word-break: break-all; }      
#menug {
    padding-top: 70px;
    background-color: #f1f1f0;
    height: 100vh;
    position: fixed;
}

#menud {
    padding-top: 70px;
    background-color: #f1f1f0;
    height: 100vh;
    position: fixed;
    right: 0;
}

#corps
{
    padding-top : 80px;
    padding-right: 1%;
    padding-left: 1%;
}


@media screen and (max-width: 767px) {
    
    #menug {
        position: initial;
        width: 100%;
        height: auto;
    }
    #menud {
        position: initial;
        width: 100%;
        height: auto;
    }
    #corps
    {
        padding-right: 0%;
        padding-left: 0%;
    }
    
}
.commentaires{}  

.card { margin-bottom: 20px; }

.btn { font-size: small;}

.col.btn { font-size: xx-small;}

.media-body.commentaire {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0;
}

.errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage {
    background: #EFEFEF 6px 8px no-repeat;
        background-image: none;
    border: 1px dotted #CCCCCC;
    margin: 4px 0;
    overflow: auto;
    padding: 8px 28px;
    text-align: justify;
}